.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.hidden {
    display: none;
}

#add-drug-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
}

.notification-container {
    display: none;
    padding: 50px;
    font-size: 2em;
    background-color: #ff9800;
    color: #ffffff;

}

.notification-container.show {
    display: block;
}